################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/advance-csharp/.vs/advance-csharp
/advance-csharp/obj
/advance-csharp/bin/Debug/net6.0
/advance-csharp/.vs/ProjectEvaluation
/advance-csharp.database/bin/Debug/net6.0
/advance-csharp.database/obj
/advance-csharp/advance-csharp.csproj.user
/advance-csharp-dummy/bin/Debug/net6.0
/advance-csharp-dummy/obj
/advance-csharp.dto/bin/Debug/net6.0
/advance-csharp.dto/obj
/advance-csharp.service/bin/Debug/net6.0
/advance-csharp.service/obj
/advance-csharp.test/bin/Debug/net6.0
/advance-csharp.test/obj
/.vs
/obj/Docker
/bin/Debug
/obj/Debug
/advance-csharp/.config
/advance-csharp/bin
/advance-csharp.database/bin/Release/net6.0
/advance-csharp.dto/bin/Release/net6.0
/advance-csharp.service/bin/Release/net6.0
